
 html, body {
    background: linear-gradient(rgba(163, 218, 218, 0.5),rgba(143, 192, 143, 0.5)),url(image.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 25px;
    color: rgb(29, 1, 3);
    }
    form {
    border: 5px solid #be5757;
    }
    input[type=text], input[type=password] {
    width: 100%;
    padding:16px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    }
   
   